@charset "UTF-8";

:root{
    --cor01: #2a413d;
    --cor02: #516861;
    --cor03: #6a7573;
    --cor04: #DBEBE2;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to left, var(--cor01), var(--cor03));
    overflow: hidden;
}

header{
    height: 25px;
    margin-bottom: 20px;
    padding: 18px;
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    justify-content: space-between;
}

header > div.logo > img{
    height: 23px;
    margin-right: 7px;
    flex: 1 1 90px;
    
}


header > menu > a {

    margin-left: 15px;
    padding: 5px 5px 5px 5px;
    flex: 1 1 150px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.766);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.264);
    text-align: center;
}

header > menu > a:hover{
    border-bottom: none;
    border-radius: 10px;
    box-shadow: 0px 0px 7px white;
}

main{
    margin-top: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
section.bio{
    margin: auto;
    height: 300px;
    width: 300px;
}
section.perfil{
    margin: auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--cor01);
}